body {
    width: 30%;
    height: 100%;
    font-family: sans-serif;
    color: white;
}

h2 {
    text-align: center;
}

input[type=radio] {
    cursor: pointer;
}

input[type=number] {
    -moz-appearance: textfield;
}

.form-container {
    border-radius: 5px;
    background-color: #273db4;
    position: absolute;
    padding: 2%;
}

.form-input-item {
    padding: 5px;
}

.form-user-input {
    width: 100%;
    padding: 5px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #192c96;
    border-radius: 4px;
    box-sizing: border-box;
}

.ssn-container {
    padding: 5px;
    display: table;
    width: 100%;
}

.ssn-left {
    display: table-cell;
    text-align: left;
}

.ssn-right {
    display: table-cell;
    text-align: right;
    padding-right: 10px;
}

.form-user-ssn {
    width: 40%;
    padding: 5px 15px;
    margin: 8px 0;
    border: 3px solid #192c96;
    right: 0;
    border-radius: 4px;
    box-sizing: border-box;
    -moz-appearance: textfield;
}

.form-drop-down {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: inherit;
    width: 100%;
    padding: 5px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #192c96;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ED7845;
}

.form-submit {
    background-color: #ED7845;
    color: white;
    padding: 14px 20px;
    border: none;
    width: 40%;
    display: inline-block;
    margin-top: 5%;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

.form-submit:hover {
    background-color: #e75516;
}
