/*  Set document body to 30% of the page since it is a small form
    Use sans-serif as the font
    Style the text color of the nested elements white
*/
body {
    width: 30%;
    height: 100%;
    font-family: sans-serif;
    color: white;
}

/* Center header horizontally */
h2 {
    text-align: center;
}

/* When hovering over a radio button, mouse pointer has an effect */
input[type=radio] {
    cursor: pointer;
}

/* Hide arrows in input elements */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Hide arrows in input elements in Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Style the container of the form and header */
.form-container {
    border-radius: 5px;
    background-color: #273db4;
    position: absolute;
    padding: 2%;
}

/* Add padding to each item included in the form container */
.form-input-item {
    padding: 5px;
}

/* Style input text boxes */
.form-user-input {
    width: 100%;
    padding: 5px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #192c96;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Create a table container to properly separate label and input element */ 
.ssn-container {
    padding: 5px;
    display: table;
    width: 100%;
}

/* Style the SSN label cell */
.ssn-left {
    display: table-cell;
    text-align: left;
}

/* Style the SSN input cell */
.ssn-right {
    display: table-cell;
    text-align: right;
    padding-right: 10px;
}

/* Style the SSN input element */
.form-user-ssn {
    width: 40%;
    padding: 5px 15px;
    margin: 8px 0;
    border: 3px solid #192c96;
    right: 0;
    border-radius: 4px;
    box-sizing: border-box;
    -moz-appearance: textfield;
}

/* Style the drop down menu (select element) */
.form-drop-down {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: inherit;
    width: 100%;
    padding: 5px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #192c96;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #ED7845;
}

/* Style the submit button */
.form-submit {
    background-color: #ED7845;
    color: white;
    padding: 14px 20px;
    border: none;
    width: 40%;
    display: inline-block;
    margin-top: 5%;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

/* Color change effect when user hovers over the submit button */
.form-submit:hover {
    background-color: #e75516;
}